{% extends "base.html" %}
{% block content %}
<div>
    <h2>Manual Entry</h2>
    <form action="{{url_for('db_add')}}" method="post">
        <label for="first_name">First name:&nbsp</label>
        <input type="text" id="first_name" name="first_name">
        <label for="last_name">&nbsp&nbsp&nbsp&nbspLast name:&nbsp</label>
        <input type="text" id="last_name" name="last_name"></br></br>
        <label for="id_num">ID#:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
        <input type="text" id="id_num" name="id_num"></br></br>
        <!--<label for="issue_date">&nbsp&nbsp&nbsp&nbspIssue Date:&nbsp </label>
        <input type="text" id="issue_date" name="issue_date"></br></br>-->
        <button id ="button" type="submit">Submit</button></br></br>
    </form>
</div></br>
<div>
    <h2>Logged User</h2>
    <table style="width:100%">
        <tr>
            <th>ID Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Face Image</th>
            <th>Options</th>
        </tr>
        {%for row in rows:%}
        <tr>
            <th>{{row['Key']}}</th>
            <th>{{row['FirstName']}}</th>
            <th>{{row['LastName']}}</th>
            <!--<th>{{row['IssueDate']}}</th>-->
            <th>
                <form action="{{url_for('s3_get', id_num=row['Key'])}}" method="post">
                    <input type="submit" value="Get Face" />
                </form>
            </th>
            <th>
                <form action="{{url_for('db_del', id_num=row['Key'])}}" method="post">
                    <input type="submit" value="delete" />
                </form>
            </th>
        </tr>
        {%endfor%}
    </table>
</div>
{% endblock %}
